config.chc
autosave.chc
Anotacoes.odt
Aula 01 - 28-07/01_Apresentação Disciplina.pptx
Aula 01 - 28-07/02_Introducao.pptx
Aula 01 - 28-07/03_Matriz_CRUD.pptx
Aula 02 - 04-08/Aula 3 - SQL - Introdução - Matriz CRUD (2).pptx
Aula 02 - 04-08/Aula 4 - Tabelas - Mapeamento.pptx
Aula 03 - 11-08/Aula 4 - Tabelas - Mapeamento.pptx
Aula 04 - 18-08/Aula 5 - SQL - Select.pptx
Aula 04 - 18-08/Práticas SQL 3 - SELECT até IN.pdf
Aula 05 - 25-08/Aula 6 - SQL - Select - LIKE, FUNÇÕES AGREGADAS e GROUP BY.pptx
Aula 05 - 25-08/Práticas SQL 4 - SELECT LIKE e GROUP BY.pdf
Aula 06 - 01-09 - Junções/Aula 7 - SQL - JUNÇÕES.pptx
Aula 06 - 01-09 - Junções/Práticas de SQL 5 - Junção.docx
Aula 07 - 08-09/Aula 8 - SQL - JUNÇÕES - Exercícios.pptx
Aula 07 - 08-09/.~lock.Aula 8 - SQL - JUNÇÕES - Exercícios.pptx#
Aula 08 - Trabalho 01/GustavoGordoni_CauaSantana.odt
Aula 08 - Trabalho 01/Trabalho 1 BD II - 2026.pdf
Aula 09 - 22-09 RevisãoProva/Aula 9 - REVISÃO P1.pptx
slides/*